{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}

    <h1>{{ 'title'|trans }}</h1>

    <a href="{{ path('app_login') }}">Login</a>


{% endblock %}
