{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

    <h1>Super secret!</h1>

    <ul>
    {% for user in users %}
        <li>{{ user.email }} {{ user.logins|length }}</li>
    {% endfor %}
    </ul>

{% endblock %}
